


<div id="info_tag" class="inline-block info-box lora-font my-6 p-8 md:p-4 rounded-lg" >
    <div class="text-green-800 text-3xl" >
        Easy
    </div>
    <div class="p-4 flex flex-row gap-4 items-center  text-gray-800" >
        <div class="flex flex-col" >
            <div class="ms-2" >
                - Upload direct pdfs.
            </div>
            <div class="ms-2">
                - Or just copy or paste your data.
            </div>
            <div class="ms-2" >
                - It doesn't get easier than this. (Does it??)
            </div>
        </div>
        <div>
            <%= image_tag 'easy.gif' %>
        </div>
    </div>
</div>
