

<div class="inline-block info-box lora-font my-6 p-8 md:p-4 rounded-lg" >
    <div class="text-green-800 text-3xl" >
        Fast
    </div>
    <div class="p-4 flex flex-row gap-4 items-center  text-gray-800" >
        <div class="flex flex-col" >
            <div class="ms-2" >
                - Powered by Elastic search in the backend which is the best in Industry.
            </div>
            <div class="ms-2">
                - Powered by the ever faster Rails 7.
            </div>
            <div class="ms-2" >
                - I am running out of points. <span class="font-bold" >So, trust me bro!!!</span>
            </div>
        </div>
        <div>
            <%= image_tag 'running-marathon.gif' %>
        </div>
    </div>
</div>
