

<div id="info_tag" class="inline-block info-box lora-font my-6 p-8 md:p-4 rounded-lg" >
    <div class="text-green-800 text-3xl" >
        Versatile
    </div>
    <div class="p-4 flex flex-row gap-4 items-center  text-gray-800" >
        <div class="flex flex-col" >
            <div class="ms-2" >
                Added this section because why not.
            </div>
            <div class="ms-2">
                Also you can just tell me how to make it versatile.
            </div>
            <div class="ms-2" >
                Which makes this reallllly versatilee. (Right!?)
            </div>
        </div>
        <div>
            <%= image_tag 'versatile.gif' %>
        </div>
    </div>
</div>
