/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


label {
    display: block;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.lora-font {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.header-bg {
    background: linear-gradient(114.41deg, #93e2aa 20.74%, #abff84 65.5%);;
}

.info-box {
    background: rgb(202,255,198);
    background: linear-gradient(90deg, rgba(202,255,198,1) 0%, rgba(108,255,137,0.42062762605042014) 100%);
}