<div class="bg-green-50 m-2 rounded-lg md:p-4 p-2"  id="<%= dom_id category %>">
    <div class="text-xl" >
        Name: <span class="font-bold text-green-800" >
             <%= category.name %>
        </span>
    </div>
</div>
